<%@ page contentType="text/html;charset=UTF-8" %>
<option value="null">No Asignada</option>

<g:each in="${materias}" var="materia">
    <option value="${materia.id}">${materia.nombre}</option>
</g:each>