.nav_title {
  width: 230px;
  float: left;
  background: #2A3F54;
  border-radius: 0;
  height: 70px;
  text-align: center;
  padding: 8px 5px 5px;
}

body.nav-sm .navbar.nav_title a #letras {
    display: none;
}

.tile-stats .count, .tile-stats h3, .tile-stats p {
  margin-bottom: 10px;
}

.logo-gris{
  height: 50px;
  margin-bottom: 10px;
}

.actionBar
{
  border-top: transparent;
}

.stepContainer
{
  margin-bottom: 8%;
}
.step-22
{
  width: 100%;
}

.fotoPerfil{
  text-align: center;
}

.fotoListaPerfil
{
  height: 80px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
  vertical-align: middle;
}

.materias
{
  margin-top: 17px;
  margin-bottom: 17px;
}

.tile-stats .icon {
  top: 35px;
}

.disponible{
  background-color: #60ba36;
}

.alert-red {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
  color: white;
  background-color: #DA4453;
}
.alert-green {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
  color: white;
  background-color: #37BC9B;
}
.alert-blue {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
  color: white;
  background-color: #4A89DC;
}
.alert-yellow {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
  color: white;
  background-color: #F6BB42;
}
.alert-orange {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
  color:white;
  background-color: #E9573F;
}